<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/Terms.css">
</head>
<body>
    <!--<div class="tacbox">
  <input type="checkbox" />
  I agree to these <a href="#">Terms and Conditions</a>.
</div>
-->
<div class="tacbox">
    <input id="checkbox" type="checkbox" />
    <label for="checkbox"> I agree to these <a href="cond.html">Terms and Conditions</a>.</label>
  </div>
  <!--
  <label class="tacbox">
    <input type="checkbox" />
    I agree to these <a href="#">Terms and Conditions</a>.
  </label>
  
  <label for="taccheck" class="tacbox">
    <input id="taccheck" type="checkbox" />
    I agree to these <a href="#">Terms and Conditions</a>.
  </label>
</body>
</html>